<div class="container">
  <div class="row">

    {{#each spotlightIngredientsArray}}
    <div class="col-lg-3 col-md-6 mySpotlight">
      <div class="tag-blue suggestion">
        <h3>{{this.name}}</h3>
        <h6>You can make a <div>
            <h4><a href="/search/{{this.nextCocktail.strDrink}}" method="POST">{{this.nextCocktail.strDrink}}
              </a></h4>
          </div>if
          you get
          this!</h6>

        <form action="/process-bar-suggestions" method="POST">
          <button name="ingredient" value="{{this.name}}">Add to my bar</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>

</div>


<div class="container">
  <div class="row">

    {{#each recommendedIngredientsArray}}
    <div class="col-lg-3 col-md-6 mySpotlight">
      <div class="tag-blue suggestion">
        <h3>{{this.name}}</h3>
        <h6>This ingredient is used in <div>
            <h4><a href="/search-result-ingred/{{this.name}}" method:"POST" value="{{this.name}}" />{{this.score}}
              cocktails !</a>
          </div>
          </h4>
        </h6>

        <form action="/process-bar-suggestions" method="POST">
          <button name="ingredient" value="{{this.name}}">Add to my bar</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>