<h2 class="d-flex justify-content-center text-center">The cocktails you can do with:</h2>

{{titleize search_ingredient}}



{{#each ingredArray}}
<h3 class="d-flex justify-content-center text-center">{{this.strDrink}}</h3>

<p>Searched Ingredients : {{../search_ingredient}} </p>

<div class="d-flex justify-content-center">
  <div class="div-marg">
    <p class="text-center"><b>Ingredients: </b></p>

    {{#each this.strIngredMeasure}}
    {{#if (is (downcase this.Ingred) (downcase ../../search_ingredient)) }}

    <p class="green">
      {{this.Ingred}}
    </p>
    {{else}}
    <p class="red">
      {{this.Ingred}}
    </p>
    {{/if}}
    {{/each}}

  </div>

  <div class="div-marg">
    <p class="text-center"><b>Measure:</b></p>

    {{#each this.strIngredMeasure}}
    <p>
      {{this.Measure}}
    </p>
    {{/each}}

  </div>
</div>

<div>
  <h3 class="d-flex justify-content-center text-center">Instructions</h3>

  <p class="text-center">{{this.strInstructions}}</p>
</div>

{{/each}}