<h2 class="d-flex justify-content-center text-center">The cocktail you are looking for:</h2>


<main class="multi-col">

  {{#each drinkArray}}

  {{#and true  this.userCreated}}

  <div class="tag-pink">

    <h3 class="d-flex justify-content-center text-center shadow-title">{{this.strDrink}}</h3>



    <div class="d-flex justify-content-center font-light">
      <div class="div-marg">
        <p class="text-center "><b>Ingredients: </b></p>

        {{#each this.strIngredMeasure}}

        <p>
          {{this.Ingred}}
        </p>

        {{/each}}

      </div>

      <div class=" div-marg">
        <p class="text-center"><b>Measure:</b></p>

        {{#each this.strIngredMeasure}}
        <p>
          {{this.Measure}}
        </p>
        {{/each}}

      </div>
    </div>

    <div>
      <h3 class="d-flex justify-content-center text-center">Instructions</h3>

      <p class="text-center font-light">{{this.strInstructions}}</p>
    </div>

    {{!-- Link to the EDIT page (ID in the address to know which book to edit) --}}
    <a href="/mycocktails/{{this.strDrink}}/edit">Edit</a>

    {{!-- Link to the DELETE route (ID in address to know which book to delete) --}}
    <a href="/mycocktails/{{this.strDrink}}/delete">Delete</a>



  </div>





  {{else}}




  <div class="tag-blue">

    <h3 class="d-flex justify-content-center text-center shadow-title">{{this.strDrink}}</h3>



    <div class="d-flex justify-content-center font-light">
      <div class="div-marg">
        <p class="text-center "><b>Ingredients: </b></p>

        {{#each this.strIngredMeasure}}

        <p>
          {{this.Ingred}}
        </p>

        {{/each}}

      </div>

      <div class=" div-marg">
        <p class="text-center"><b>Measure:</b></p>

        {{#each this.strIngredMeasure}}
        <p>
          {{this.Measure}}
        </p>
        {{/each}}

      </div>
    </div>

    <div>
      <h3 class="d-flex justify-content-center text-center">Instructions</h3>

      <p class="text-center font-light">{{this.strInstructions}}</p>
    </div>


  </div>






  {{/and}}


  {{/each}}

</main>