<h2 class="d-flex justify-content-center text-center title">The cocktails you can do with:</h2>
{{#each search_ingredient}}
<h3 class="d-flex justify-content-center text-center title">


  {{this}}</h3>

{{/each}}

<div class="d-flex flex-row justify-content-center">

  <div class="d-flex align-content-center flex-column col-6">
    <form action="search-result-drink" method="GET">
      <div class="d-flex justify-content-center"><label>by Name</label></div>
      <div class="d-flex justify-content-center"><input type="text" name="search_query"></div>
      <div class="d-flex justify-content-center"><button>Find cocktails!</button></div>
    </form>
  </div>



  <div class="align-content-center flex-column col-6">
    <form action="/search-result-ingred" method="GET" id="ingred-list">
      <div class="d-flex justify-content-center"><label>by Ingredients</label></div>

      <div class="d-flex justify-content-center"><input list="cocktails" type="text" name="search_query"
          placeholder="Ingredient 1">

        <datalist id="cocktails">

          {{#each ingredArray}}
          <option value="{{this}}"></option>
          {{/each}}
        </datalist></div>


      <div class="d-flex justify-content-center"><input list="cocktails" type="text" name="search_query"
          placeholder="Ingredient 2">

        <datalist id="cocktails">
          {{#each ingredArray}}
          <option value="{{this}}"></option>
          {{/each}}
        </datalist></div>


      <div class="d-flex justify-content-center"><button>Find cocktails!</button></div>

    </form>

  </div>
</div>

{{!-- <div class="d-flex justify-content-center text-center">
  {{search_ingredient}}
</div>
<div>

  <div class="d-flex justify-content-center">
    <form action="/search-result-drink" method="GET">
      <label>by Name</label>
      <input type="text" name="search_query" default="{{search_query}}">
      <button>Find cocktails!</button>
    </form>
  </div>

  <div class="d-flex justify-content-center">
    <form action="/search-result-ingred" method="GET" id="ingred-list">
      <label>by Ingredients</label>
      <label>Ingredient 1</label>
      <input list="cocktails" type="text" name="search_query" default="{{search_query}}">

      <datalist id="cocktails">

        {{#each ingredArray}}
        <option value="{{this}}"></option>
        {{/each}}
      </datalist>

      <label>Ingredient 2</label>
      <input list="cocktails" type="text" name="search_query" default="{{search_query}}">

      <datalist id="cocktails">
        {{#each ingredArray}}
        <option value="{{this}}"></option>
        {{/each}}
      </datalist>


      <button>Find cocktails!</button>

    </form>
  </div>


</div> --}}


{{!-- #################################################### --}}
{{!-- List the cocktails with the ingredients selected --}}
{{!-- #################################################### --}}

<main class="multi-col">

  {{#each ingredArray}}

  {{#and true this.userCreated}}

  <div class="tag-pink">

    <img src=" {{this.strDrinkThumb}}" class="img-drink">

    <h3 class="d-flex justify-content-center text-center shadow-title">{{this.strDrink}}</h3>

    <div class="d-flex justify-content-center font-light">
      <div class="div-marg">

        {{#each this.strIngredMeasure}}

        {{#contains ../../search_ingredient (downcase this.Ingred) }}

        <p class="orange ingred-measure">
          {{this.Ingred}}
        </p>
        {{else}}
        <p class="ingred-measure">
          {{this.Ingred}}
        </p>
        {{/contains}}

        {{/each}}

      </div>

      <div class="div-marg">

        {{#each this.strIngredMeasure}}
        {{#contains ../../search_ingredient (downcase this.Ingred) }}

        <p class="orange ingred-measure">
          {{this.Measure}}
        </p>
        {{else}}

        <p class="ingred-measure">
          {{this.Measure}}
        </p>

        {{/contains}}
        {{/each}}

      </div>
    </div>

    <hr>

    <div>
      {{!-- <h3 class="d-flex justify-content-center text-center">Instructions</h3> --}}

      <p class="text-center font-light">{{this.strInstructions}}</p>
    </div>

    <div class="d-flex justify-content-around">
      {{!-- Link to the EDIT page (ID in the address to know which book to edit) --}}
      <div><button><a href="/mycocktails/{{this.strDrink}}/edit" class="font-light no-link">Edit</a></button></div>

      {{!-- Link to the DELETE route (ID in address to know which book to delete) --}}
      <div><button><a href="/mycocktails/{{this.strDrink}}/delete" class="font-light no-link">Delete</a></button></div>

    </div>

  </div>



  {{else}}



  <div class="tag-blue">

    <img src=" {{this.strDrinkThumb}}" class="img-drink">


    <h3 class="d-flex justify-content-center text-center shadow-title">{{this.strDrink}}</h3>

    <div class="d-flex justify-content-center font-light">
      <div class="div-marg">

        {{#each this.strIngredMeasure}}

        {{#contains ../../search_ingredient (downcase this.Ingred) }}

        <p class="orange ingred-measure">
          {{this.Ingred}}
        </p>
        {{else}}
        <p class="ingred-measure">
          {{this.Ingred}}
        </p>
        {{/contains}}

        {{/each}}

      </div>

      <div class="div-marg">

        {{#each this.strIngredMeasure}}

        {{#contains ../../search_ingredient (downcase this.Ingred) }}

        <p class="orange ingred-measure">
          {{this.Measure}}
        </p>
        {{else}}
        <p class="ingred-measure">
          {{this.Measure}}
        </p>

        {{/contains}}
        {{/each}}

      </div>
    </div>

    <hr>

    <div>
      {{!-- <h3 class="d-flex justify-content-center text-center">Instructions</h3> --}}

      <p class="text-center font-light">{{this.strInstructions}}</p>
    </div>
  </div>


  {{/and}}



  {{/each}}

</main>